body{
  font-family: "YuGothic","游ゴシック体";
  width:1250px;
  background-color: #e6e6e6;
}

/* .box{
  background-color: white;
  width:80%;
  text-align: center;
  margin:auto;
} */

.content_box{
  background-color: white;
  width:80%;
  margin: 30px auto ;
  padding:20px;
}

h1{
  color:#504946;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

.list_parent{
  /* border:solid 1px blue; */
  text-align: center;
}

.list{
  /* background-color: white; */
  /* padding:30px 50px; */
  font-size: 60px;
  color:#2d2d2d;
}

table{
  border: 1px solid red;
  margin:auto;
  width:100%;
  /* padding:30px; */
}

tr,th{
  border:solid 1px blue;
}

tr,td{
  border:solid 1px yellow;
  text-align: center;
}

th{
  color: white;
  background-color: #7a7a7a;
}

.attentance_detail{
  border:solid 1px #504946;
  padding:20px;
  margin:10px;
  list-style-type: none;
}

.detail_center{
  text-align: center;
  width:100%;
}

#details{
  /* border:solid 1px blue; */
  padding:20px;
  /* margin:10px */
}


.return_parent{
  /* border:solid 1px blue; */
  text-align: center;
}

.return{
  background-color:#504946;
  padding:10px 20px;
  font-size: 30px;
  color:white;

}
